@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  color: #242424;
  font-family: "Poppins", serif;
}

.hbutton-one {
  border: 1px solid #303030;
  font-size: 12px;
  padding: 6px 18px;
  border-radius: 4px;
  background-color: #fff;
}

.hbutton-two {
  background-color: #009956;
  color: white;
  padding: 6px 18px;
  border: 1px solid #009956;
  border-radius: 4px;
  font-size: 12px;
}

.button-one {
  border: 1px solid #303030;
  font-size: 14px;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #fff;
}

.button-two {
  background-color: #009956;
  color: white;
  padding: 16px 24px;
  border: 1px solid #009956;
  border-radius: 4px;
  font-size: 14px;
}

.button-one:hover,
.hbutton-one:hover {
  background-color: #242424;
  transition: all ease-in-out 0.2s;
  color: white;
  cursor: pointer;
}

.button-two:hover,
.hbutton-two:hover {
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  background-color: white;
  color: #009956;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: bold;
  color: #303030;
}

.better {
  background-image: url(https://duo.com/assets/img/bottom_promo_desktop.jpg);
  background-size: cover;
  background-position: center;
}

.footerLinks Link:hover {
  text-decoration: underline;
}

.greenBg {
  background-color: #009956;
}

.greenText {
  color: #009956;
}
/*
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

 */
